@media screen and (max-width: 1024.99px) {
    header {
        padding: 29px 0;

        >.container {
            gap: 0;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 97px;
            background-color: #121517;
            z-index: 1;
        }
    }

    section{
        margin-bottom: $section-mobile-margin;
    }

    .header-logo {
        max-width: 114px;
    }

    .container {
        padding: 0 25px;
    }

    .mobile-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: #0B0C0D;
        padding: 25px 25px 75px;
        background-image: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.60) 51.85%);
        backdrop-filter: blur(3px);
        transition: .3s;
        visibility: hidden;
        transform: translate(0, -100%);
        flex-direction: column;

        &.show {
            top: 60px;
            transform: translate(0, 0);
            visibility: visible;
        }

        .btn{
            margin-left: initial;
        }
    }

    .menu_list {
        flex-direction: column;
        gap: 48px;
    }

    .btn {
        font-size: 16px;
        padding: 17px 24px;

        &.btn-outline {
            width: 52px;
            height: 52px;
            border-radius: 18px;

            svg {
                height: 22px;
            }
        }
    }


    .template-title {
        font-size: min(12vw, 48px);
    }

    .template-description {
        font-size: 0.75rem;
    }

    .banner {
        
        .container {
            flex-direction: column-reverse;
            align-items: center;
        }

        .template-title {
            margin-bottom: 36px;
        }

        .template-description {
            margin-bottom: 36px;
        }

        &-btn-group {
            gap: 10px;
            margin-bottom: 36px;
        }

        .banner-img {
            padding: 0 60px;
            margin-right: 0;
        }

        .banner-img::after {
            display: none;
        }

        .banner-img::before {
            display: none;
        }

        .banner-line {
            width: 100%;
            left: 8vw;
            top: initial;
            right: 12px;
            bottom: -21vw;
        }

        .banner-statistic-item {
            width: auto;
        }

        .banner-statistic__title {
            font-size: 42px;
        }

        .banner-statistic__subtitle {
            font-size: 12px;
        }
    }

    .accent-label {
        right: 100px;
    }

    .accent-label-sm {
        font-size: 24px;
    }

    .advantages-row {
        flex-direction: column;
        max-width: 218px;
        padding: 20px 42px;
        border-radius: 26px;
        gap: 24px;

        .accent-label-sm {
            left: initial;
            right: -24px;
            top: -24px;
        }

        &::before {
            left: calc(100% - 24px);
            top: 50px;
        }

        &::after {
            left: 80px;
        }
    }

    .advantage__img-box {
        --size: 86px;
        margin: 8px;

        img {
            max-width: 124px;
            max-height: 124px;
        }
    }

    .advantage__title {
        font-size: 1.123rem;
        margin-bottom: 0;
    }

    .advantage__description {
        font-size: 0.75rem;
        line-height: 1.63;
    }

    .we-make{
        .container{
            flex-direction: column;
        }
        &__img-box{
            margin-bottom: 100px;
        }
    }

    .footer {
        padding: 37px 0 7px;

        &_logo {
            max-width: 135px;
        }

        &-nav {
            order: 1;
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 28px;
            padding: 38px 0 32px;
        }

        &-row {
            flex-wrap: wrap;
            margin-bottom: 0;

            .btn {
                margin-left: auto;
            }
        }

        .footer-nav__title,
        .footer-nav__link {
            font-size: 15px;
        }

        .footer-nav__column {
            padding: 0;
        }

        .footer-phones__item {
            font-size: 16px;
        }

        .footer-social__item {
            height: 34px;
            width: 34px;
        }

        .btn {
            margin-top: -17px;
        }
    }

}
