@media screen and (max-width: 1024px) {
    header {
        padding: 34px 0;

        >.container {
            gap: 0;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 97px;
            background-color: #121517;
            z-index: 1;
        }
    }



    .container {
        padding: 0 25px;
    }

    .header-logo {
        max-width: 114px;
    }

    .mobile-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: #0B0C0D;
        padding: 25px 25px 75px;
        background-image: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.60) 51.85%);
        backdrop-filter: blur(3px);
        transition: .3s;
        visibility: hidden;
        transform: translate(0, -100%);

        &.show {
            top: 97px;
            display: block;
            transform: translate(0, 0);
            visibility: visible;
        }
    }

    .menu_list {
        flex-direction: column;
        gap: 48px;
    }

    .btn {
        &.btn-outline {
            width: 52px;
            height: 52px;
            border-radius: 18px;

            svg{
                height: 22px;
            }
        }
    }
        .footer {
            padding: 37px 0 7px;

            &_logo {
                max-width: 135px;
            }

            &-nav {
                order: 1;
                max-width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 28px;
                padding: 38px 0 32px;
            }

            &-row {
                flex-wrap: wrap;
                margin-bottom: 0;

                .btn {
                    margin-left: auto;
                }
            }

            .footer-nav__title,
            .footer-nav__link {
                font-size: 15px;
            }

            .footer-nav__column {
                padding: 0;
            }

            .footer-phones__item {
                font-size: 16px;
            }
            .footer-social__item{
                height: 34px;
                width: 34px;
            }

            .btn {
                margin-top: -17px;
            }
        }

    }