.events .container{
    position: relative;
}
.events-title-wrapper {
    @extend .products-title-wrapper;
    flex-direction: row-reverse;

    .template-title {
        margin-right: 0;
        margin-left: var(--margin);
    }
}

.event-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 260px;
    width: 100%;
    border-radius: 30px;
    padding: 44px 24px 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-title {
        line-height: 1;
    }
}

.event-area-1 {
    grid-area: 1 / 1 / 4 / 7;
}

.event-area-2 {
    grid-area: 1 / 7 / 4 / 13;
}

.event-area-3 {
    grid-area: 4 / 1 / 7 / 5;
}

.event-area-4 {
    grid-area: 4 / 5 / 7 / 9;
}

.event-area-5 {
    grid-area: 4 / 9 / 7 / 13;
}

.swiper-events-button-prev{
    @extend .swiper-button-prev;
}
.swiper-events-button-next{
    @extend .swiper-button-next;
}
