.events-title-wrapper {
    @extend .products-title-wrapper;
    flex-direction: row-reverse;

    .template-title {
        margin-right: 0;
        margin-left: var(--margin);
    }
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 44px 26px 26px;
    border-radius: 30px;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-title {
        line-height: 1;
    }
}

.event-1 {
    grid-area: 1 / 1 / 4 / 7;
}

.event-2 {
    grid-area: 1 / 7 / 4 / 13;
}

.event-3 {
    grid-area: 4 / 1 / 7 / 5;
}

.event-4 {
    grid-area: 4 / 5 / 7 / 9;
}

.event-5 {
    grid-area: 4 / 9 / 7 / 13;
}
