.banner {
    position: relative;

    .container {
        display: flex;
        align-items: flex-start;
        align-items: flex-start;
        gap: 24px;
        justify-content: space-between;
        justify-content: space-between;
    }

    &-content {
        max-width: 580px;
    }

    .template-title {
        margin-bottom: 54px;

        &::before {
            @include template-light;
            width: 586px;
            height: 653px;
            background: url(./assets/img/decoration__banner-light-title.png) center no-repeat;
            left: 0;
            top: -200px;
            transform: none;
        }
    }
    .template-description{
        max-width: 580px;
    }

    &-btn-group {
        gap: 16px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 54px;
        position: relative;

        &::before {
            @include template-light;
            width: 603px;
            height: 603px;
            background: url(./assets/img/decoration__banner-light-btn-row.png) center no-repeat;
            left: 100px;
            top: 0;
            transform: translate(0, -50%);
        }
    }

    &-statistic__title {
        font-size: 62px;
    }

    &-statistic__subtitle {
        font-size: 20px;
    }

    &-statistics {
        display: flex;
        gap: 46px;
    }

    &-statistic-item {
        width: 126px;
    }

    .banner-img {
        margin-right: 43px;
        position: relative;

        &::before {
            @include template-light;
            width: 479px;
            height: 479px;
            background: url(./assets/img/decoration__banner-light-img.png) center no-repeat;
            left: -160px;
            top: 160px;
            transform: translate(0, -50%);
        }

        &::after {
            @include template-light;
            width: 676px;
            height: 676px;
            background: url(./assets/img/decoration__banner-light-img-md.png) center no-repeat;
            left: -50px;
            top: calc(100% - 115px);
            transform: translate(0, -50%);
        }

    }

    .banner-line {
        position: absolute;
        right: -280px;
        bottom: -258px;
        z-index: -2;
        width: 910px;
        height: 699px;
    }

    .accent-label {
        top: 0;
        right: 38px;
    }
}
