.footer {
    padding: 43px 0;
    margin-top: auto;
    overflow: hidden;

    .container {
        z-index: 1;
        position: relative;
    }

    &-row,
    &-contacts {
        display: flex;
    }

    &-row {
        margin-bottom: 110px;
        align-items: flex-start;
    }

    &-contacts {
        align-items: center;
    }

    &_logo {
        position: relative;

        &:before {
            @include template-light;
            width: 371px;
            height: 260px;
            background-image: url(./assets/img/decoration__footer-light-lg.png);
        }
    }

    &-nav {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 783px;
        padding: 4px 0;
        width: 100%;
        position: relative;

        &__column {
            padding: 0 12px;
        }

        &__title {
            font-size: 20px;
            color: #BBB3B3;
            margin-bottom: 13px;
            font-weight: 400;
        }

        &__link {
            color: #5b595a;
            font-size: 20px;
            margin-bottom: 8px;
            text-decoration: none;
        }

        &__item {
            margin-bottom: 11px;
        }

        &__item:last-child {
            margin-bottom: 0;
        }

        &:before {
            @include template-light;
            width: 1250px;
            height: 906px;
            background-image: url(./assets/img/decoration__footer-light-lg.png);
        }
    }



    &-social {
        margin-left: auto;

        &__item {
            position: relative;
            display: inline-block;
            height: 47px;
            width: 47px;

            &:before {
                content: "";
                position: absolute;
                left: -86px;
                top: -30px;
                z-index: -1;
                width: 168px;
                height: 153px;
                background-image: url(./assets/img/decoration__footer-light-sm.png);
            }           

        }
    }

    &-phones {
        display: flex;
        gap: 24px;

        &__item {
            color: $secondary-color;
            font-size: 26px;
            font-weight: 600;
            text-decoration: none;
            position: relative;

            &:before {
                @include template-light;
                width: 371px;
                height: 260px;
                background-image: url(./assets/img/decoration__footer-light-md.png);
                
            }
        }
    }
}
