* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-primary;
    font-size: $font-size;
    background-color: $bg-color;
    color: $text;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 0.5em;
    color: $title-color;
}

h1 {
    line-height: 1.1;
    font-size: 5rem;
}

h2 {
    line-height: 1.1;
    font-size: 3.875rem;
}

h3 {
    line-height: 1.32;
    font-size: 2rem;
}

h4 {
    line-height: 1.23;
    font-size: 1.625rem;
}

h5 {
    line-height: 1.46;
    font-size: 1.5rem;
}

h6 {
    line-height: 1.63;
    font-size: 1.25rem;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    &:hover {
        color: $secondary-color;
    }
}

.btn {
    color: $title-color;
    font-size: 24px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    padding: 23px 54px;
    background: transparent;
    display: inline-block;
    text-align: center;
    transition: .3s;
    position: relative;

    &::after{
        @include template-light;
        background-image: url(./assets/img/btn-primary-hover.svg);
        width: 0;
        height: 0;
    transition: .5s;

    }

    &:hover {
        color: #fff;
        &::after{
            width: 500%;
            height: 500%;
        }
    }
    
    &.btn-primary {
        font-weight: 600;
        background-image: linear-gradient(204deg, $primary-color 0%, $secondary-color 100%);
    }
    &.btn-secondary {
        position: relative;
        background-color: $bg-color;

        &::before {
            content: "";
            position: absolute;
            inset: -2px;
            background-image: linear-gradient(140deg, #BBB3B3 0%, #121517 100%);
            z-index: -1;
            border-radius: 40px;
        }
        &:hover {
            &::after{
                background-image: url(./assets/img/btn-secondary-hover.svg);
            }
        }
    }
}


@keyframes btn-secondary {
    0% {
        height: 0;
        width: 0;
        transform: skew(-25deg, 0);
        right: 0;
    }

    10% {
        height: 0;
        width: 0;
        transform: skew(-25deg, 0);
        right: 35px;
    }

    15% {
        height: 100%;
        width: 15px;
        transform: skew(-25deg, 0);
        right: 55px;
    }

    90% {
        transform: skew(-25deg, 0);
        right: calc(100% - 35px);
        height: 100%;
        width: 0;
    }

    100% {
        transform: skew(-25deg, 0);
        right: calc(100% - 35px);
        height: 0;
        width: 0;
    }
}


.container {
    max-width: 1274px;
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    &.btn-outline {
        width: 84px;
        height: 84px;
        border: 1px solid $primary-color;
        border-radius: 29px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 12px;
        }
    }
}

.svg-sprite {
    height: 0;
}


.gradient {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(204deg, #237249 0%, #35c66b 100%);
}





::selection {
    color: $bg-color;
    background-color: $primary-color;
}
