.products-title-wrapper {
    display: flex;
    align-items: center;

    .template-title {
        max-width: 390px;
        margin-right: 72px;
        margin-bottom: 0;
    }

    .template-description {
        margin-bottom: 0;
    }
}
.swiper-slide-active {
    .product {
        border: 1px solid $secondary-color;
    }
}
.product {
    border: 1px solid $text;
    border-radius: 29px;
    padding: 50px 30px 32px;
    text-align: center;

    &-img {
        --size: 186px;
        height: var(--size);
        width: var(--size);
        border-radius: 50%;
        position: relative;
        background-image: linear-gradient(204deg, $primary-color 0%, $secondary-color 100%);
        margin-bottom: 36px;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 241px;
        }
    }
    &-title{
        margin-bottom: 0;
    }

    &-description{
        font-weight: 400;
    }

    &-value{
        display: flex;
        gap: 35px;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 30px;
    }

    &-price{
        font-weight: 500;
        font-size: 32px;
    }

    .btn{
        font-size: 17px;
        padding: 23px 38px;
    }
}
