.we-make {
    .container {
        display: flex;
        position: relative;
        gap: 0 24px;
        justify-content: space-between;
    }

    &__img-box {
        max-width: 465px;
        position: relative;

        img {
            @include clip-top-left;
        }

        &::before {
            content: "";
            @include clip-top-left;
            background-color: $primary-color;
            top: 36px;
            right: 49px;
            width: calc(100% - 3px);
            height: calc(100% - 3px);
            position: absolute;
            z-index: -1;
        }
    }

    &__content-box {
        max-width: 470px;
        width: 100%;
    }
}

.we-make__process {
    background: url(./assets/img/we-make___cooking.png) center / cover no-repeat;
    min-height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include clip-bottom-right 
}

.we-make__line {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 993px;
    height: 999px;
    display: none;
}
