<div id="process" class="modal">
    <button class="btn" data-modal-close>x</button>
    <div class="modal-content">
        <h2>process</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aperiam expedita obcaecati?
    </div>
    <button class="btn btn-secondary" data-modal-close>close</button>
</div>
<div id="feedback" class="modal">
    <div class="modal-content">
        <h2>feedback</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aperiam expedita obcaecati?
    </div>
    <button class="btn btn-secondary" data-modal-close>close</button>>
</div>
<div id="qwerty" class="modal">
    <div class="modal-content">
        <h2>qwerty</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aperiam expedita obcaecati?
    </div>
    <button class="btn btn-secondary" data-modal-close>close</button>
</div>